/*
    * Emplealat 
    * Version: 0.1
    * Author: Spacecript - https://spacecript.com
*/

/*------------------------------------------------------
Variables
------------------------------------------------------*/

:root 
{
    --e-light-white: #fff;
    --e-white : #ddd;
    --e-light-gray: #ccc;
    --e-medium-gray: #667583;
    --e-dark-gray: #454e56;
    --e-black: #000;
    --e-yellow: #edb84f;
    --e-hover-yellow: #ed984f;
    --e-bubble-red: #ed564f;
    --e-light-blue: #f2f7fb;
    --e-light-bg: #ebf1f3;
}

/*------------------------------------------------------
FONTS STYLES
------------------------------------------------------*/

@font-face {
    font-family: mainFont;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: mainFont;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: mainFont;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: mainFont;
    src: url(../fonts/Roboto-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

/*------------------------------------------------------
GENERAL STYLES
------------------------------------------------------*/

body
{
    color: var(--e-dark-gray);
    font-family: mainFont, Helvetica, Arial;
    font-weight: lighter;
    font-size: 18px;
}

a { color: var(--e-yellow); font-weight: normal; }
a:hover { color: var(--e-hover-yellow); }

.btn { color: var(--e-dark-gray); background: var(--e-yellow); }
.btn:hover { background: var(--e-hover-yellow); }

.btn-apply
{
    color: var(--e-dark-gray);
    background: var(--e-yellow);
    display: block;
    margin: 2rem auto 0 auto;
    padding: .6rem 1.1rem;
    font-weight: bold;
}

.btn-apply:hover { background: var(--e-hover-yellow); color: var(--e-light-white); }

/*------------------------------------------------------
HEADER STYLES
------------------------------------------------------*/

#navbar { background: var(--e-dark-gray); }

#navbar .container { display: flex; flex-direction: row; justify-content: space-between; }

.navbar-btn-label { color: var(--e-yellow); }

.featured-work .card { background: var(--e-yellow); border: none; position: relative; min-height: 200px; }
.featured-work .card h2 { color: var(--e-light-white); font-weight: normal; }
.featured-work .card p { color: var(--e-dark-gray); }

.wide-work .card { position: relative; margin-bottom: 15px; }
.wide-work .card h4 { font-weight: normal; }
.wide-work .card p { color: var(--e-dark-gray); }

/*------------------------------------------------------
HOME STYLES
------------------------------------------------------*/

.wrap-home-header {
    background: var(--e-dark-gray);
    color: var(--e-white);
    height: calc(100vh - 70px);
}

.wrap-home-header h1 { font-size: 2.5rem; }
.wrap-home-header p { font-size: 1.2rem; font-weight: lighter;}

.title-line { border-bottom: 4px solid var(--e-yellow); padding-bottom: 10px; }
.subtitle-line { border-bottom: 2px solid var(--e-yellow); padding-bottom: 10px; font-weight: bold; font-size: 1.1rem;}

.wrap-calltoaction { background: var(--e-light-blue); }

.bubble
{
    background: var(--e-bubble-red);
    color: var(--e-light-white);
    width: max-content;
    padding: 5px 15px;
    border-radius: 40px;
    position: absolute;
    top: -15px;
    right: 5px;
    animation: pulsate 1.2s linear infinite;
}

.bubble-2
{
    background: var(--e-bubble-red);
    color: var(--e-light-white);
    width: max-content;
    padding: 5px 15px;
    border-radius: 40px;
    top: -15px;
    right: 5px;
    animation: pulsate 1.2s linear infinite;
}

.wrap-calltoaction ul li { list-style: none; }
.wrap-calltoaction ul li strong, .wrap-calltoaction ul li svg { color: var(--e-yellow); }
.wrap-calltoaction ul li svg { opacity: .5; }

/*------------------------------------------------------
SINGLE WORK STYLES
------------------------------------------------------*/

.wrap-detailwork h2
{
    font-weight: normal;
    color: var(--e-yellow);
    margin: 0;
}

.header-info
{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.business-info
{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0
}

.business-info img
{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 1rem;
    border: 4px solid hsla(40, 81%, 62%, .5);
}

.list-detail-work
{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.list-detail-work li
{
    flex: 1 0 21%;
    text-align: left;
    margin-bottom: 40px;
    text-align: center;
}

.list-detail-work li p
{
    font-size: .8rem;
    margin: 0;
    font-weight: bold;
}

.list-detail-work li span
{
    font-size: .8rem;
    margin: 0;
    color: var(--e-hover-yellow);
}

/*------------------------------------------------------
FOOTER STYLES
------------------------------------------------------*/

footer { background: var(--e-dark-gray); color: var(--e-white); }
footer ul li { list-style: none; }
footer h3 { font-size: 1rem; font-weight: bold; }


/*------------------------------------------------------
ANIMATIONS
------------------------------------------------------*/
@keyframes pulsate
{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.04);
    }
    50%{
        transform: scale(1.08);
    }
    75%{
        transform: scale(1.04);
    }
    100%{
        transform: scale(1);
    }
  }

/*------------------------------------------------------
RESPONSIVE STYLES
------------------------------------------------------*/

@media screen and (max-width: 1100px)
{
    .list-detail-work li
    {
        flex: 1 0 31%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 900px)
{
    .wrap-home-header { padding-bottom: 65px; padding-top: 95px; }
    .wrap-home-header, .wrap-home-header .container { height: auto !important; }

    .wrap-home-header h1 { font-size: 1.6rem; }
    .wrap-home-header p { font-size: 1rem; }

    .featured-work .card { margin-bottom: .8rem; }

    .wrap-calltoaction .row { flex-direction: column; }
    .wrap-calltoaction .col-md-10 { justify-content: center; display: flex;}
}

@media screen and (max-width: 700px)
{
    .list-detail-work li
    {
        flex: 1 0 41%;
    }
}

@media screen and (max-width: 400px)
{
    .list-detail-work li
    {
        flex: 1 0 91%;
        margin-bottom: 20px;
    }
}